@model IEnumerable<MainClass.Programme>

@{
    ViewBag.Title = "Lister";
}

<h2>Lister</h2>

<p>
    @Html.ActionLink("Create New", "Ajouter")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeProgramme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProgramme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoProgramme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodeProgramme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProgramme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoProgramme)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editer", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Effacer", new { id=item.Id })
        </td>
    </tr>
}

</table>
